@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Bebas Neue', cursive;
  color: white;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 0;
}
h1{
  font-size: 5rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 1.5rem;
}